
<h1>Create Account</h1>
<div class="row">
	<div class="md-col-4">
<button {{action "createAccountFB"}}>Join with Facebook</button>
<form {{action "createAccountEmail" on="submit" class="new-account"}}>
	<div class="form-group">
	{{view Ember.TextField placeholder="first name" id="new-first-name" valueBinding="newFirstName"}}
</div>
<div class="form-group">
	{{view Ember.TextField placeholder="last name" id="new-last-name" valueBinding="newLastName"}}
</div>
<div class="form-group">
	{{view Ember.TextField placeholder="email" id="new-email" valueBinding="newEmail"}}
</div>
<div class="form-group">
	{{view Ember.TextField placeholder="password" id="new-password" type="password" valueBinding="newPassword"}}
</div>
<div class="form-group">
	{{view Ember.TextField placeholder="confirm password" id="new-confirm-password" type="password" valueBinding="new-confirm-password"}}
</div>
	<button>create</button>
</form>
</div>
</div>