<h2>Edit <span class="editable" contentEditable="true">{{title}}</span> deck</h2>
<form {{action "addCard" on="submit"}}>
{{view Ember.TextArea id="new-question" placeholder="enter question here" valueBinding="newQuestion" action="newCard" class="card"}}

{{view Ember.TextArea id="new-answer" placeholder="enter answer here" valueBinding="newAnswer" action="newCard" class="card"}}
<button type="submit">add card</button>
</form>
{{controller}}

