<h2>{{title}} Deck</h2>
	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="flipper">
    		<div class="front">
      			<h1>{{currentCard.question}}</h1>
    		</div>
    		<div class="back">
      			<h2>{{currentCard.answer}}</h2>
    		</div>
		</div>
	</div>
	<div class="button-container">
    <button {{action "previousCard"}} class="previous-button"><i class="ui-icon icon-arrowthick-1-w"></i></button>
    <button class="flip-button">flip</button>
    <button {{action "nextCard"}} class="next-button"><i class="ui-icon icon-arrowthick-1-e"></i></button>
</div>
<div class="progress">
  <div class="bar" style="width: 60%;"></div>
</div>