<h2>{{title}} Deck</h2>
<div class="temp" id="clickMe"></div>
{{controller}}
    <div class="flip-container" id="flip-toggle">
      <div class="flipper">
          <div class="front card">
              <h1>{{currentCard.question}}</h1>
              <div class="card-edit-link">
              <a href="#"><i class="icon-pencil"></i></a>
            </div>
          </div>
          <div class="back card">
              <h2>{{currentCard.answer}}</h2>
              <div class="card-edit-link">
              <a href="#"><i class="icon-pencil"></i></a>
            </div>
          </div>
      </div>
    </div>
	<div class="button-container">
    <button {{action "previousCard"}} class="previous-button"><i class="ui-icon icon-arrowthick-1-w"></i></button>
    
    <button {{action "nextCard" 1}} class="next-button"><i class="ui-icon icon-arrowthick-1-e"></i></button>
</div>
<div class="progress">
  <div class="bar" style="width: 60%;"></div>
</div>